<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create/Edit Crime</title>
</head>
<body>
<h1>Create/Edit Crime</h1>
<form th:object="${crime}" th:action="${actionUrl}" method="post" enctype="multipart/form-data">
  <input type="hidden" th:field="*{id}" />
  <label>Name: <input type="text" th:field="*{name}" /></label><br />
  <label>Place: <input type="text" th:field="*{place}" /></label><br />
  <label>Date of Crime: <input type="date"  th:field="*{dateOfCrime}" /></label><br />
  <label>Description: <input type="text" th:field="*{description}" /></label><br />
  <label>Solved:
    <select th:field="*{crimeSolved}">
      <option value="true">Дело раскрыто</option>
      <option value="false">Следствие продолжается</option>
    </select>
  </label><br />
  <label>Dangerous: <input type="checkbox" th:field="*{crimeDanger}" /></label><br />
  <input type="hidden" th:field="*{photoCrime}" /><br />
  <input th:each="offender : ${crime.offenders}" type="hidden" th:value="${offender.offId}" name="offenders" />
  <input type="hidden" th:field="*{crimeArchived}" /></label><br />
  <input type="submit" value="Submit" />
</form>
</body>
</html>
