<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create/Edit Criminal Gang</title>
</head>
<body>
<h1>Create/Edit Criminal Gang</h1>
<form th:object="${criminalGang}" th:action="${actionUrl}" method="post" enctype="multipart/form-data">
  <input type="hidden" th:field="*{id}" />
  <label>Name: <input type="text" th:field="*{name}" /></label><br />
  <label>Location: <input type="text" th:field="*{location}" /></label><br />
  <label>Year Of Foundation: <input type="date"  th:field="*{yearOfFoundation}" /></label><br />
  <label>Description: <input type="text" th:field="*{description}" /></label><br />
  <input type="hidden" th:field="*{logo}" /><br />
  <input type="submit" value="Submit" />
</form>
</body>
</html>