<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Offender List</title>
</head>
<body>
<h1>Offender List</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <tr th:each="offender : ${offenders}">
    <td th:text="${offender.firstname} + ' ' + ${offender.lastname} "></td>
    <td th:text="${offender.status}"></td>
    <td>
      <a th:href="@{/offenders/{offId}(offId=${offender.offId})}">INFO</a>
    </td>
    <td>
      <a th:href="@{/offenders/delete/{offId}(offId=${offender.offId})}">Delete</a>
    </td>
  </tr>
  <tr th:if="${deleteErrorMessage}" class="error-message">
    <td colspan="3">
      <p th:text="${deleteErrorMessage}"></p>
    </td>
  </tr>

</table>
<a th:href="@{/offenders/create}">CREATE</a>
<a th:href="@{/offenders/archive}">ARCHIVE</a>
</body>
</html>
