<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Offender Archive</title>
</head>
<body>
<h1>Offender Archive</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <tr th:each="offender : ${archivedOffenders}">
    <td th:text="${offender.firstname} + ' ' + ${offender.lastname} "></td>
    <td th:text="${offender.status}"></td>
    <td>
      <a th:href="@{/offenders/{offId}(offId=${offender.offId})}">INFO</a>
    </td>
    <td>
      <a th:href="@{/offenders/delete/{offId}(offId=${offender.offId})}">Delete</a>
    </td>
    <div th:if="${deleteErrorMessage}" class="error-message">
      <p th:text="${deleteErrorMessage}"></p>
    </div>
  </tr>
</table>
<a th:href="@{/offenders/create}">CREATE</a>
</body>
</html>
